albumentations
cv2-enumerate-cameras
datasets
diffusers
einops
keras
langchain
langchain_classic
langchain_core
langchain_openai
langchainhub
langchain-chroma
matplotlib
music21
numpy
openai
opencv-python
pandas
pillow
pretty_midi
PyQt6
PyQt6-WebEngine
regex
requests
tensorflow
torch
torchvision
tqdm
transformers
urllib3
wikipedia
wolframalpha
faiss
